$primary-color: #fef7d1;
$secondary-color: #975961;
$accent-color: #e0833e;
$body-text-color: #FFF;
$heading-font-family: 'Philosopher', sans-serif; 
$body-font-family: 'Ubuntu', sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;